{% if page and page.meta and page.meta.author %}
    {% set pgauthor = page.meta.author %}
    {% set pgauthor_github = "https://github.com/" + page.meta.github %}
{% endif %}
{% extends "base.html" %}
{% block extrahead %}
  <link rel="stylesheet" href="{{ 'assets/stylesheets/custom.min.css' | url }}">
{% endblock %}

{% block content %}
  {{super()}}
  {% if pgauthor is defined %}
    <small>
      <!-- 本文出至: <a href="{{ config.site_url }}">{{ config.site_name }} </a> -->
      作者：<b><a href="{{ pgauthor_github }}">{{pgauthor}}</a></b>
    </small>
  {% endif %}
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="{{ 'assets/javascripts/custom.min.js' | url }}"></script>
{% endblock %}