{% if page and page.meta and page.meta.author %}
    {% set pgauthor = page.meta.author %}
    {% set pgauthor_github = "https://github.com/" + page.meta.github %}
{% endif %}
{% extends "base.html" %}
{% block extrahead %}
  <link rel="stylesheet" href="{{ 'assets/stylesheets/custom.min.css' | url }}">
{% endblock %}

{% block content %}
    {% block page_content %}
        {# the cover page #}
        {{ page.content }}
        {% if pgauthor is defined %}
        <h5>
            <!-- 本文出至: <a href="{{ config.site_url }}">{{ config.site_name }} </a> -->
            作者：<a href="{{ pgauthor_github }}">{{pgauthor}}</a>
        </h5>
        {% endif %}   
    {% endblock %}
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="{{ 'assets/javascripts/custom.min.js' | url }}"></script>
{% endblock %}